{% extends "default.html" %}
{% block content %}


<br><br><br>

<table class="highlight">  
<thead>
    <tr>
        <td>ID</td>
        <td>FIRST NAME</td>
        <td>LAST NAME</td>
        <td>AGE</td>
    </tr>
</thead>  
{% for d in data %}
<tr>
<td>{{ d.id }}</td>
<td>{{ d.fname }}</td>
<td>{{ d.lname }}</td>
<td>{{ d.age }}</td>
</tr>
{% endfor %}
</table>

<br><br>
<p class="center-align">
<a class="btn-floating btn-large waves-effect waves-light #006064" href="/uploaddata" style="font-size: 70;">+</a>
</p>
{% endblock %}